<!DOCTYPE html>
<html>
<head>
  <title>Rotten Potatoes</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
  <header>
    <h1>RottenPotatoes</h1>
    <nav>
      <%= link_to 'Home', movies_path %> |
      <%= link_to 'New Movie', new_movie_path %>
    </nav>
  </header>

  <div class="content">
    <%= yield %>
  </div>

  <footer>
    <p>© 2024 Rotten Potatoes. All Rights Reserved.</p>
  </footer>
</body>
</html>
